@charset "UTF-8";

.pricipal{
    background-image: url('https://a.cdn-hotels.com/gdcs/production117/d910/2ef9c8f0-2365-4bd8-af33-48c6b3492585.jpg');
}
header{
    display: flex;   
    justify-content: space-between;
}
titulos{
    display: flex;
    justify-content: end;  
}
.icones{
    width: 30px;
    height: 30px;
    padding: 10px;
}
.paginas{
    margin: 30px 12px 30px 12px;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
}
header a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}
 header a:hover{
    color: honeydew;
}
.paginas{
    margin: 30px 40px 30px 40px;
    position: sticky;
}
main {
    display: inline;
}
.fotos{
    width: 400px;
    height: 200px;
    border:  solid 4px rgb(255, 255, 255);
    position: relative;
}
.fotos:hover{
    border:  solid 4px rgb(255, 255, 0);
}
