@charset "UTF-8";

body{
    background-image: url('https://a.cdn-hotels.com/gdcs/production117/d910/2ef9c8f0-2365-4bd8-af33-48c6b3492585.jpg');
   
}
header{
    display: flex; 
    justify-content: end;
}

ul{
    display: flex;
}
.icones{
    width: 30px;
    height: 30px;
}

li{
    margin: 30px 12px 30px 12px;
    font-weight: bold;
    font-size: 1.5em;
}
header a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}
 header a:hover{
    color: honeydew;
}
.paginas{
    margin: 30px 40px 30px 40px;
}
#inicial{
    text-decoration: none;
    padding: 30px 30px 30px 12px;
    font-weight: bold;
    font-size: 1.5em;
}