@charset "UTF-8";

header{
    background-color:#cccc;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0px auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0px;
}
nav li{
    display: inline;
    margin-left: 15px;
}
nav a{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}
.produtos{
    width: 940px;
    margin: 0 auto;
}
.produtos li{
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 30%;
  padding: 50px 0;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
}
.produtos h2{
    font-size: 30px;
    font-weight: bold;
}
.descrição{
    font-size: 18px;
}
.preço{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}