@charset "UTF-8";

header{
    background-color:#cccc;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0px auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0px;
}
nav li{
    display: inline;
    margin-left: 15px;
}
nav a{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}
nav a:hover{
    color: #9a9500;
    text-decoration: underline;
}
main{
    margin: 40px;
}
.produtos{
    width: 940px;
    margin: 0 auto;
}
.produtos li{
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 30%;
  padding: 50px 0;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border: 2px solid black;
  margin-top: 20px;
  border-radius: 10px;
}
.produtos li:hover{
    border-color: #9a9500;
}
.produtos li:active{
    border-color: #1bf3af;
}
.produtos li:hover h2{
    font-size: 40px;
}
.produtos h2{
    font-size: 30px;
    font-weight: bold;
}
.descrição{
    font-size: 18px;
}
.preço{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
footer{
    text-align: center;
    background-image: url("bg.jpg");
    padding: 40px 0;
}
.ultimo{
    color: white;
    font-size: 13px;
}
main{
    width: 940px;
    margin: 0 auto;
}
form{
    margin: 40px 0;
}
form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 20px;
}
.padrão, form textarea{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}
.checkbox{
    margin: 30px 0;
}
.enviar{
    width: 40%;
    padding: 15px 0;
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 7px;
    transition: 1s all;
    cursor: pointer;
}
.enviar:hover{
    background-color: rgb(11, 3, 129);
    color: azure;
    transform: scale(1.2);
}
table{
    margin-bottom: 40px;
}
th{
    background-color: rgb(65, 64, 64);
    color: white;
    font-weight: bold;
}
 
td, th {
    padding: 10px 20px;
    border: 0.5px solid black ;
}
/*Pagina inicial da barbearia*/
.banner{
    width: 100%;
}
.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}
.principal p {
    margin: 0 0 1em;
}
.principal strong{
    font-weight: bold ;
}
.principal em{
    font-style: italic;
}
.bene{
    width: 60%;
}
.ultensilios{
    width: 120px;
    height: 120px;
    float: left;
    margin: 0 20px 20px 0;
}