@charset "UTF-8";

header{
    background-color:#cccc;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0px auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0px;
}
nav li{
    display: inline;
    margin-left: 15px;
}
nav a{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}
nav a:hover{
    color: #9a9500;
    text-decoration: underline;
}
main{
    margin: 40px;
}
.produtos{
    width: 940px;
    margin: 0 auto;
}
.produtos li{
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 30%;
  padding: 50px 0;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border: 2px solid black;
  margin-top: 20px;
  border-radius: 10px;
}
.produtos li:hover{
    border-color: #9a9500;
}
.produtos li:active{
    border-color: #1bf3af;
}
.produtos li:hover h2{
    font-size: 40px;
}
.produtos h2{
    font-size: 30px;
    font-weight: bold;
}
.descrição{
    font-size: 18px;
}
.preço{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
footer{
    text-align: center;
    background-image: url("bg.jpg");
    padding: 40px 0;
}
.ultimo{
    color: white;
    font-size: 13px;
}